@font-face {
   font-family: "Vazir";
   src: local("Vazir"), url("../digikala/Vazir.ttf") format("truetype");
}

@font-face {
   font-family: "Vazir-Bold";
   src: local("Vazir-Bold"),
      url("../digikala/Vazir-Bold.ttf") format("truetype");
}

html {
   font-family: Vazir, serif;
}

body {
   font-family: Vazir, serif;
}

* {
   font-family: Vazir, serif;
}

code {
   font-family: Vazir, serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-family: Vazir-Bold, serif;
}
